@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel
<!--New Bootstraps used for the website: border-right So that each book is seperated by a line, text-center which will center my text at the top and and in the footer, 
    bg-dark text-white which made a dark border around the links to the other pages -->

<div class="row">
    <div class="column">
        <div class="border-right" style="border-width:10px;">
            @foreach (var x in Model.Projects)
            {
                <partial name="ProjectSummary" model="x" />

            }
        </div>
    </div>
    <div class="column">
        <vc:navigation-menu />
    </div>
    <div class="text-center bg-dark text-white">
        <div page-model="@Model.Paginginfo" page-action="Index" page-url-category="@Model.CurrentCategory"></div>
    </div>

    <div class="column" style="padding-left:6%; padding-top:10%;">
        <img class="rounded-circle" src="~/img/Something.jpg" />

    </div>
</div>

<!--Bootstrap -->





